# Entornos y variables sensibles
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
build/
dist/

# Entornos virtuales
venv/
.venv/
env/

# Docker
*.log

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Alembic (dejamos las migraciones versionadas, pero ignoramos temporales si los hay)